.services {
  max-width: 1500px;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px; /* Added padding for spacing */

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;

    p {
      font-weight: 100;
      font-size: 20px;
      color: gray;
      text-align: right;
    }

    hr {
      width: 100%; /* Adjusted width to 100% for responsiveness */
      max-width: 500px; /* Added max-width for larger screens */
      border: none;
      border-top: 0.5px solid gray;
    }
  }

  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover; /* Ensuring image covers container */
      }

      h1 {
        font-size: 50px;
        font-weight: 50;
        text-align: center; /* Center aligning h1 */
      }

      button {
        width: 100px;
        height: 50px;
        border-radius: 25px;
        background-color: orange;
        border: none;
        font-size: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center; /* Center aligning button text */
      }
    }
  }

  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding-top: 30px;
    gap: 15px;

    .box {
      flex: 1;
      padding: 20px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      h2 {
        margin-bottom: 30px;
        font-size: 24px; /* Increased font size for h2 */
        font-weight: bold; /* Added font weight */
      }

      p {
        font-size: 15px;
        text-align: center; /* Center aligning paragraph text */
      }

      button {
        width: 100px; /* Adjusted width for better button layout */
        padding: 6px;
        margin-top: 30px;
        background-color: orange;
        border: none;
        cursor: pointer;
        font-size: 8px; /* Increased font size */
        border-radius: 10px; /* Added border radius for button */
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: darkorange;
          color: white;
        }
      }
    }
  }
}
