.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .wrapper span {
    font-weight: bold;
    margin-left: 90px;
  }

  .social {
    display: flex;
    gap: 20px;

    img {
      width: 20px;
      height: 20px;
    }
  }
}
